@{
    ViewData["Title"] = "Frontier";
}

<h2></h2>

<div class="row">
    <p align="center">
        <font size="20">Welcome to Frontier IT Notifications</font><br />
        <font size="15">Home Page</font><br />
        <font color="green">Login or register, authorized users only</font><br/><br/>
        <b><a asp-controller="Account" asp-action="Login">Login -</a>
        <a asp-controller="Account" asp-action="Register"> Register</a></b>
    </p>
    <div class="col-md-3">


    </div>
</div>
